<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Test installs must not resurrect a previous database from Android/Google backup. -->
    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup" />
</manifest>
